<!-- This is a template for a page to display after submitting a job application. -->
<!DOCTYPE html>
<html>
  <head>
        {% include 'bootstrap.html' %} <!-- This line includes the bootstrap template -->
    <title>Application Submitted</title> <!-- This is the title of the page -->
  </head>
  <body>

    <div>
  <h1 class="text-center">CONGRATULATIONS!!</h1> <!-- This is the heading of the page -->
  <p>Your application for the role of <b>{{job['Title']}}</b> at <b>{{job['Company']}}</b> has been submitted!</p> <!-- This line displays the job title and company for which the user applied -->

  <b>Full Name</b>
  <div class="mb-2">{{application['full_name']}}</div> <!-- This line displays the user's full name -->

  <b>Email</b>
  <div class="mb-2">{{application['email']}}</div> <!-- This line displays the user's email address -->

  <b>LinkedIn URL</b>
  <div class="mb-2">{{application['linkedin_url']}}</div> <!-- This line displays the user's LinkedIn URL -->

  <b>Education</b>
  <div class="mb-2">{{application['education']}}</div> <!-- This line displays the user's education information -->

  <b>Work Experience</b>
  <div class="mb-2">{{application['work_experience']}}</div> <!-- This line displays the user's work experience information -->
</div>
  </body>
</html>




