<!DOCTYPE html>
<html>
  <head>
        {% include 'bootstrap.html' %}
    <title>Application Submitted</title>  
  </head>
  <body>

    <div>
      <h1 class="text-center">CONGRATULATIONS!!</h1>
      <p>Your application for the role of <b>{{job['Title']}}</b> at <b>{{job['Company']}}</b> has been submitted!</p>
      
      <b>Full Name</b>
      <div class="mb-2">{{application['full_name']}}</div>
  
      <b>Email</b>
      <div class="mb-2">{{application['email']}}</div>
  
      <b>LinkedIn URL</b>
      <div class="mb-2">{{application['linkedin_url']}}</div>
  
      <b>Education</b>
      <div class="mb-2">{{application['education']}}</div>
  
      <b>Work Experience</b>
      <div class="mb-2">{{application['work_experience']}}</div>
    </div>
  </body>
</html>
